{% extends 'base.html' %}

{% block title %}About Us |        
{% endblock title %}

{% block Aboutactive %} active {% endblock Aboutactive %}

{% block body %}

 <!-- Source Unsplash https://source.unsplash.com/600x600/?machine,robots  -->
 <!-- <h3  id="visiontext" class="card-text">Our Vision is to Spread the awareness about Computer Programming  and try to bring more and more Students to this  Field of Artificial Intelligence and Machine Learning.</h3> -->



UPdating Soon







{% endblock body %}

